html{
    max-width: 600px;
    text-align: center;
}

h1{
    color: brown;
}

body{
    background-color: black;   
    margin-top:     2px;
    margin-bottom:  2px;
    margin-left:    2px;
    margin-right:   2px;

    border-width: 10px;

    border-color: black;
    font-family: 'Courier New', Courier, monospace;
}

p{
    font-weight: lighter;
}

