h1{
    color: brown;
}

body{
    background-color: black;   
    margin-top:     2px;
    margin-bottom:  2px;
    margin-left:    2px;
    margin-right:   2px;

    border-width: 10px;

    border-color: black;
}

p{
    font-weight: lighter;
}

