body{
    font-family: 'Times New Roman', Times, serif;
    background-color: black;
}

#header{
    background-color: rgb(194, 194, 194);
    border-bottom: 5px solid black;
    position:fixed;
    width:100%;
    color:navy;
}

#intro{
    background-image:url("/Resources/photos/Starfield.png");
    color: whitesmoke;
}

#content {
    background-color: rgb(211, 211, 211);
    border-left:7px solid navy;
    border-right:7px solid navy;
    border-top: 7px solid navy;
    border-bottom: 7px solid navy;
    padding-left: 7px;
}

p{
    padding-left: 7px;
}

#date{
    color: darkred;
}

nav li {
    display: inline;
    padding-right: 10px;
}

#footnote{
    color: whitesmoke;
}